@model IEnumerable<Club>

@{
    ViewBag.Title = "Club";
}

<link rel="stylesheet" href="~/css/club.css" />

<div class="club-container">

    <h1 class="heading-h1">Club</h1>

    <div class="cards-container">
        @foreach (var item in Model)
        {
            <a type="button" asp-controller="Club" asp-action="Details" asp-route-id="@item.Id">
                <div class="card">

                    <img class="image" src="@item.Image" alt=" image of club">
                    <h2>@item.Title</h2>
                    <h5>@item.ClubCategory</h5>
                    @item.Address.Street
                    @item.Address.City
                    @item.Address.State
                    <span>@item.Description</span>

                </div>
            </a>
        }
    </div>

</div>